html{
    height:100%
}
body {
    background-color: #feffff;
    height:100%;
    font-family: sans-serif;
    margin: 0px;
}


#menu{
    text-align: right;
    padding-right: 10%;
}

hr {
    border-color: #f2f2f2;
}

#menu a {
    color: #98a29f;
    padding:5px;
    font-size:14px;
    font-weight: bold;
    margin:5px;
    text-decoration: none;
    padding-inline:35px;
}

#principal {
    margin-top:10px;
    display:block;
    overflow:hidden;
    min-height: 510px;
}
#principal figure {
    margin: 0px;
}

#imagen{
    width: 100%;
    z-index: 1;
    position: absolute;
}

#vector{
    z-index: 2;
    position: absolute;
    margin-left: 75px;
    margin-top:15px;
}

#principal p{
    color: #feffff;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    z-index: 2;
}

#enunciado1{
    font-weight:800;
    margin-left: 115px;
    margin-top: 14px;
    float: left;
    font-size: 25px;
}
#enunciado2{
    margin-left: -235px;
    margin-top: 45px;
    float: left;
    font-size: 25px;
}
#enunciado3{
    font-weight: 900;
    margin-left: -145px;
    margin-top: 40px;
    float: left;
    font-size: 75px;
    width: 500px;
    line-height: 69px;
}
#enunciado4{
    margin-left: -495px;
    margin-top: 180px;
    float: left;
    font-size: 25px;
}

#piedepagina {
    margin-top:5px;
    text-align:center;
    padding:20px;
}

#piedepagina h3{
    color:#9c9172;
    margin: 0px;
}


#piedepagina p{
    margin: 4px;
    color: #858786;
}

#piedepagina p:first-of-type{
    font-weight: bolder;
}